@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap");
.App {
  text-align: center;
  background-color: #141217;
  overflow: hidden;
  height: 100vh;
  color: #f5edfc;
  font-family: "Work Sans", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141217;
  color: #f5edfc;
}

.map-container {
  height: 100vh;
  width: 100vw;
  border-radius: 1%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  margin: 0%;
  width: 60%;
  margin: 1vh auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
}

.react-tabs__tab--selected {
  background-color: #7c1ed4;
  color: white;
}

.tab-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f5edfc;
  padding: 0.5%;
  padding-inline: 3%;
  font-size: 1rem;
}

a:hover {
  color: #7c1ed4;
  transition: 0.3s;
}

.navigation {
  position: absolute;
  z-index: 1;
}

.link-wrapper {
  padding-inline: 5%;
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

ul {
  padding: 50px;
  position: absolute;
  top: 25px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.NavBar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #141217;
  border-bottom: #7c1ed4 solid;
  border-width: 2px;
  font-weight: 400;
  justify-content: center;
  display: flex;
}

.search-page {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 70%;
  border-radius: 50px;
  overflow: hidden;
  display: inline-flex;
  height: 50px;
  border: #7c1ed4 solid 3px;
}

input {
  box-sizing: border-box;
  width: 95%;
  border: none;
  padding: 0 20px;
  color: #7c1ed4;
  background-color: #141217;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

input:focus {
  outline: none;
}
.search-button {
  border: none;
  width: 7%;
  background-color: #141217;
  color: #f5edfc;
  cursor: pointer;
}
