@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600;700&display=swap");
.App {
  text-align: center;
  background-color: #141217;
  overflow: hidden;
  height: 100vh;
  color: #f5edfc;
  font-family: "Work Sans", sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #7c1ed4 #141217;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141217;
  color: #f5edfc;
}

.map-container {
  height: 100vh;
  width: 100vw;
  border-radius: 1%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  margin: 0%;
  width: 60%;
  margin: 1vh auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 50px;
  overflow: hidden;
}

.react-tabs__tab--selected {
  background-color: #7c1ed4;
  color: white;
}

.tab-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f5edfc;
  padding: 0.5%;
  padding-inline: 3%;
  font-size: 1rem;
}

a:hover {
  color: #7c1ed4;
  transition: 0.3s;
}

.navigation {
  position: absolute;
  z-index: 1;
}

.link-wrapper {
  padding-inline: 5%;
}

nav {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

ul {
  padding: 50px;
  position: absolute;
  top: 25px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.NavBar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #141217;
  border-bottom: #7c1ed4 solid;
  border-width: 2px;
  font-weight: 400;
  justify-content: center;
  display: flex;
}

.search-page {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 70%;
  border-radius: 50px;
  overflow: hidden;
  display: inline-flex;
  height: 50px;
  border: #7c1ed4 solid 3px;
}

input {
  box-sizing: border-box;
  width: 95%;
  border: none;
  padding: 0 20px;
  color: #7c1ed4;
  background-color: #141217;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

input:focus {
  outline: none;
}

.search-button {
  border: none;
  width: 7%;
  background-color: #141217;
  color: #f5edfc;
  cursor: pointer;
}

.search-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 1rem;
  padding: 1rem;
  border-radius: 16px;
  background: #1e1b22;
  color: #f5edfc;
  border: #7c1ed4 solid 3px;
  width: 60%;
}

.search-card:hover {
  background: #7c1ed4;
  transition: 0.3s;
}

.search-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bolder;
  font-size: 2rem;
}

.search-card-ranking {
  font-weight: normal;
  font-size: 1.5rem;
  color: #7c1ed4;
}

.search-card-body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: start;
}

.search-card-body-image {
  width: 25vh;
  height: 25vh;
  border-radius: 16px;
  background-color: #f5edfc;
}

#date-slider {
  width: 80%;
  height: 15px;
  border-radius: 50px;
  background: #f5edfc;
  position: absolute;
  bottom: 2%;
}

#date-slider .range-slider__range {
  background: #7c1ed4;
  transition: height 0.3s;
  height: 105%;
  border-radius: 50px;
}

#date-slider .range-slider__thumb {
  background: #7c1ed4;
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
}

#date-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#date-slider .range-slider__thumb[data-lower] {
  width: 0;
  height: 0;
  border: none;
}

#date-slider .range-slider__range[data-active] {
  height: 25px;
}

.map-search-input {
  width: 50%;
  border-inline-start: #7c1ed4 solid 1px;
}

.search-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  height: 50%;
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}

.search-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #141217;
  color: #7c1ed4;
  border: none;
  font-size: medium;
  cursor: pointer;
}
